* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url("/img/ImagenFormulario.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    z-index: 1;
    font-family: "Times New Roman", Times, serif;
}
form {
    margin: 50px auto;
    background-color: #96d4d1;
    width: 700px;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: black; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 
    0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 
    0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 
    0 20px 20px rgba(0,0,0,0.15);
    margin-bottom: 10px;
}
.formularios-grupos {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    margin: 15px 0;
    font-size: 18px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    color: rgb(34, 34, 34);
}
p {
    font-size: 20px;
}
.boton {
    margin-top: 25px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    background-color: #2bb665;
    font-size: 18px;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    color: white;
    transition: all 0.5s ease;
}
input[type="submit"]:hover {
    background-color: rgb(243, 161, 9);
    color: black;
}
.Error{
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: -10px;
}
.completado{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 26px; 
    margin: 0 auto;
    color: black; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 
    0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 
    0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 
    0 20px 20px rgba(0,0,0,0.15);
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid lightgrey;
}